<template>
  <button 
      class="button"
      :title="title" 
      :class="{ 'button--selected': selected}"
      @click="$emit('click', text)"
    >
    <div v-if="text">{{ text }}</div>
    <slot/>
  </button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    text: {
      type: [Number, String]
    },
    selected: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'Button title'
    }
  }
};
</script>

<style>
.button {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
  outline: none;
}
.button:hover {
  text-decoration: underline;
  text-decoration-color: #3eaf7c;
}
.button--selected {
  font-weight: 600;
}

.button--selected:hover {
  text-decoration: none;
  cursor: default;
}
</style>
