<template>
  <div class="image-container">
    <img 
      class="image"
      :data-src="src"
      :alt="altText"
    />
  </div>
</template>

<script>
export default {
  name: 'AppImage',
  props: {
    src: {
      type: String
    },
    altText: {
      type: String
    }
  }
};
</script>

<style>
.image-container {
  width: 220px;
  padding-bottom: 280px;
  height: 0;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  position: absolute;
  display: block;
  border: 0;
  opacity: 0.5;
  transition: opacity 1s;
}

.image.initial,
.image.loaded,
.image.error {
  opacity: 1;
}

.image.error {
  height: 100%;
  background-color: #ecebe9;
}
</style>
