<template>
  <div class="item">
    <div class="item-picture">
      <app-image :src="imageUrl" :altText="`${name}_${brand}`" class="item-picture__img"></app-image>
    </div>
    <div class="item-description">
      <div class="item-description__left">
        <div :title="brand" class="item__brand">
          {{ brand }}
        </div>
        <div :title="name" class="item__name">
          {{ name }}
        </div>
      </div>
      <div class="item-description__right">
        <div class="item__price">
          {{ price | price }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppImage from './AppImage.vue';

export default {
  name: 'Item',
  props: {
    name: {
      type: String
    },
    brand: {
      type: String
    },
    price: {
      type: Number
    },
    imageUrl: {
      type: String
    }
  },
  components: {
    AppImage
  }
};
</script>

<style>
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 220px;
  padding: 8px;
}

.item:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.item-picture {
  height: 280px;
  overflow: hidden;
  margin-bottom: 6px;
}

.item-picture__img {
  display: block;
  width: 100%;
}

.item-description {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.item-description__left {
  font-size: 1rem;
  width: 140px;
}

.item-description__right {
  font-size: 1rem;
  white-space: nowrap;
}

.item__name,
.item__brand {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item__name {
  color: #acacad;
  font-size: 0.9rem;
}
</style>
