<template>
  <div v-if="products.length > 0 && !loading">  
    <transition-group class="items-list" name="items-list" tag="div">
      <item
        v-for="product in products"
        class="items-list__item"
        :key="product.id"
        :imageUrl="getImageUrl(product.imageBackground, product.imageHash)"
        :name="product.name"
        :brand="product.brand"
        :price="product.price"
      ></item>
    </transition-group>
  </div>
  <div class="items-list--load" v-else-if="products.length === 0">
    <div class="items-list__no-items-text" v-if="!loading">There are no items to show!</div>
    <Loader
      v-if="loading"
      :opacity="0.8"
      color="black"
    />  
  </div>
</template>

<script>
import Item from './Item.vue';
import Loader from './Loader.vue';

export default {
  name: 'ItemsList',
  components: {
    Item,
    Loader
  },
  props: {
    products: {
      type: Array
    },
    loading: {
      type: Boolean
    }
  },
  methods: {
    getImageUrl(background, hash) {
      const bg = background ? background : 'ffffff';
      const width = 560;
      const height = 560;
      return `http://cdn.aboutstatic.com/file/${hash}?quality=100&progressive=1&bg=${bg}&width=${width}&height=${height}`;
    }
  }
};
</script>

<style>
.items-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.items-list--load {
  height: calc(100vh - 28px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-list__no-items-text {
  font-size: 1.6rem;
}
.items-list-enter,
.items-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.items-list-leave-active {
  position: absolute;
}
.items-list-move {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
</style>
