<template>
  <svg class="app-loader" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="25 25 50 50">
    <svg:style>
        @keyframes outer {
            0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
            50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
            100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
        }
        @keyframes inner {
            0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
            50% { stroke-dasharray: 67,200; stroke-dashoffset: -29; }
            100% { stroke-dasharray: 67,200; stroke-dashoffset: -93; }
        }
        #outer { animation: outer 1.5s ease-in-out infinite; }
        #inner { animation: inner 1.5s ease-in-out infinite -0.5s; }
        circle { fill: none; stroke: {{ color }}; stroke-width: 2; opacity: {{ opacity }}; }
    </svg:style>
    <circle id="outer" cx="50" cy="50" r="20">
        <animateTransform attributeName="transform" dur="2s" from="0 50 50" repeatCount="indefinite" to="360 50 50" type="rotate" />
    </circle>
    <circle id="inner" cx="50" cy="50" r="15">
        <animateTransform attributeName="transform" dur="2s" from="0 50 50" repeatCount="indefinite" to="360 50 50" type="rotate" />
    </circle>
  </svg>     
</template>


<script>
export default {
  name: 'Loader',
  props: {
    color: {
      type: String,
      default: '#000000'
    },
    opacity: {
      type: Number,
      default: 0.2
    }
  }
};
</script>
