<template>
  <div class="toolbar">
    <div class="toolbar__sort">
        Sort by 
        <app-button
          text="Price"
          title="Sort by price"
          @click="$emit('sortByPrice')"  
        />
    </div>
    <div class="toolbar__page">
        <app-button
          title="Go to previous page"
          :disabled="curPage - 1 <= 0"
          @click="changePage(-1)"
        >
        <div class="toolbar__icon toolbar__icon--prev"></div>
        </app-button>
        <span> Page: {{ curPage }} </span>
        <app-button 
          title="Go to next page"
          :disabled="curPage + 1 > maxPage"
          @click="changePage(1)"
        >
          <div class="toolbar__icon toolbar__icon--next"></div>
        </app-button>
        <app-button title="Go to random page!" @click="changePage('rnd')">
          <div class="toolbar__icon toolbar__icon--random"></div>          
        </app-button>
    </div>
    <div class="toolbar__items">
        Items: 
        <app-button 
          v-for="button in itemsOnPage"
          :key="button.id"
          :text="button.value"
          :title="`Set number of items on the page to ${button.value}`"
          :selected="button.selected"
          @click="changeNumberOfItems"  
        />
    </div>
  </div>
</template>

<script>
import AppButton from './AppButton.vue';

export default {
  name: 'Toolbar',
  data() {
    return {
      itemsOnPage: this.itemsOptions.map((value, id) => {
        return {
          id,
          value,
          selected: id === 0
        };
      })
    };
  },
  components: {
    AppButton
  },
  props: {
    itemsOptions: {
      type: Array
    },
    total: {
      type: Number
    },
    limit: {
      type: Number
    },
    curPage: {
      type: Number
    },
    maxPage: {
      type: Number
    }
  },
  methods: {
    changeNumberOfItems(value) {
      let selectedValue = this.itemsOnPage[0].value;

      this.itemsOnPage.forEach((item, index) => {
        this.itemsOnPage[index].selected = false;
        if (item.value === value) {
          this.itemsOnPage[index].selected = true;
          selectedValue = value;
        }
      });
      this.$emit('changedNumber', selectedValue);
    },
    changePage(diff) {
      let newPageNumber = this.curPage + diff;
      if (diff === 'rnd') {
        newPageNumber = Math.floor(Math.random() * this.maxPage) + 1;
      }
      this.$emit('changedPage', newPageNumber);
    }
  }
};
</script>

<style>
.toolbar {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar__page {
  display: flex;
  align-items: center;
  order: -1;
}

.toolbar__sort {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .toolbar {
    justify-content: space-between;
  }
  .toolbar__page {
    order: 0;
  }
  .toolbar__sort {
    width: auto;
  }
}
.toolbar__icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  margin: 0 1px;
}
.toolbar__icon--prev {
  background-image: url('../assets/prev.svg');
}
.toolbar__icon--next {
  background-image: url('../assets/next.svg');
}

.toolbar__icon--random {
  background-image: url('../assets/random.svg');
}
</style>
