<template>
  <div id="app">
    <div class="container">
      <toolbar
        :total="totalNumberOfProducts"
        :limit="numberOfItems"
        :curPage="curPage"
        :maxPage="maxPage"
        :itemsOptions="$options.itemsOnPage"
        @changedNumber="changeNumber"
        @changedPage="changePage"
        @sortByPrice="sortByPrice"
      />
      <items-list
        :products="productToDisplay"
        :loading="loading"
      />
    </div>
  </div>
</template>

<script>
import ItemsList from './components/ItemsList.vue';
import Toolbar from './components/Toolbar.vue';

export default {
  name: 'App',
  data() {
    return {
      products: [],
      curPage: 1,
      totalNumberOfProducts: 0,
      numberOfItems: this.$options.itemsOnPage[0],
      loading: false
    };
  },
  components: {
    Toolbar,
    ItemsList
  },
  computed: {
    maxPage() {
      /*
        Pagination is calculated as number of items / maximum items on the page.
        Recalculation of page number using current number of items on the page 
        leads to unpredictable, non-expected user experience.
      */
      return Math.floor(
        this.totalNumberOfProducts /
          Math.max.apply(this, this.$options.itemsOnPage)
      );
    },
    productToDisplay() {
      /*
        We don't want to make another requests if we are simply adding or
        decreasing number of items on the page. Thus we always fetch maximum 
        number of items and show needed only
      */
      return this.products.slice(0, this.numberOfItems);
    }
  },
  methods: {
    fetchData() {
      this.loading = true;
      this.getProductIds()
        .then(products => {
          return this.getProductDetails(products);
        })
        .then(products => {
          this.products = products;
        })
        .finally(() => {
          this.loading = false;
          this.wasSorted = false;
          this.updateLazyLoad();
        });
    },
    getProductIds() {
      this.products = [];
      return this.$http
        .get(
          `https://m.aboutyou.de/api/products/v3/20250?appId=428&limit=${Math.max.apply(
            this,
            this.$options.itemsOnPage
          )}&page=${this.curPage}&sort=`
        )
        .then(request => {
          this.totalNumberOfProducts = request.data.totalCount;
          return request.data.productIds.join(',');
        });
    },
    getProductDetails(productIds) {
      return this.$http
        .get(
          `https://m.aboutyou.de/api/products/v2/getProducts?productId=${productIds}`
        )
        .then(request => {
          const resultArray = [];
          request.data.forEach(item => {
            const filteredItem = this.destructProductData(item.product);
            resultArray.push(filteredItem);
          });
          return Promise.resolve(resultArray);
        });
    },
    destructProductData(product) {
      return {
        id: product.id,
        brand: product.brand.name,
        name: product.name,
        price: product.min_price,
        imageHash: product.image.hash,
        imageBackground: product.image.background
      };
    },
    changeNumber(number) {
      if (number === this.numberOfItems) return;
      this.numberOfItems = number;
      this.updateLazyLoad();
    },
    changePage(pageNumber) {
      if (pageNumber === this.curPage) return;
      this.curPage = pageNumber;
      this.fetchData();
    },
    sortByPrice() {
      /* 
        Array.prototype.sort() is not necessarily stable in order. 
        To avoid rearraging already sorted array I perform additional check.
      */
      const arr = this.products;
      if (
        this.checkIfArrayOfObjectsIsSorted(
          arr.slice(0, this.numberOfItems),
          'price'
        )
      )
        return;

      this.products = arr
        .slice(0, this.numberOfItems)
        .sort((a, b) => (a.price > b.price ? 1 : b.price > a.price ? -1 : 0))
        .concat(arr.slice(this.numberOfItems, arr.length));

      this.updateLazyLoad();
      /*
        Lazy loading lib is based on scroll browser event, 
        as IntersectionObserver has some bugs and is not supported everywhere.
        There is still a polyfill, but there are issues, as users report. 
        So after sorting all images I have to trigger the lazyload on pictures in
        viewport by triggerting scroll\touch event.
      */
      setTimeout(() => {
        window.dispatchEvent(new Event('scroll'));
        window.dispatchEvent(new Event('touchend'));
      }, 500);
    },
    updateLazyLoad() {
      this.$nextTick(() => {
        this.$lazyLoad.update();
      });
    },
    checkIfArrayOfObjectsIsSorted(arr, key) {
      let result = true;
      let prevValue = arr[0][key];
      arr.forEach(item => {
        if (item[key] < prevValue) {
          result = false;
        }
        prevValue = item[key];
      });
      return result;
    }
  },
  mounted() {
    this.fetchData();
  },
  /*
    There is no need to keep this data reactive, as it is simply for one-time configuration.
    Micro optimizations!
  */
  itemsOnPage: [25, 50, 100]
};
</script>

<style>
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

#app {
  overflow: hidden;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 260px;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 480px;
  }
}

@media only screen and (min-width: 750px) {
  .container {
    width: 730px;
  }
}

@media only screen and (min-width: 1010px) {
  .container {
    width: 980px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
</style>
